.header {
    grid-area: header;
    background-color: #222629;
    padding: 10px;
}

.header img.logo {
    width: 40px;
    height: 40px;
    margin: auto 0;
}

.loginBlock {
    float: right;
}

.loginBlock a{
    color: #fff;
    text-decoration: none;
}

.loginBlock a:hover {
    color: dodgerblue;
    text-decoration: underline;
}

