.nav {
    grid-area: nav;
    background-color: #474b4f;
    padding: 10px;
    height: 100%;
}

.item {
    color: #fff;
}

.item a {
    color: inherit;
    text-decoration: none;
    transition: all .2s linear;
}

.item a.activeLink {
    color: #86c232;
    text-decoration: none;
    transition: all .2s linear;
    font-weight: bold;
}

.item a:hover {
    color: #61892f;
    transform: scale(1.1);
    /*text-decoration: underline;*/
    /*text-shadow: 2px 2px  5px #FFF;*/
}
