.profile {
    grid-area: profile;
    background-color: gainsboro;
}

.posts {
    padding: 10px;
}

.posts h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

.publishedPosts {
    margin-top: 1em;
}

.item {
    font-weight: bold;
}
