img {
  max-width: 100%;
}

.app-wrapper {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 3px;

  height: 100%;
}

.app-wrapper-content {
  position: relative;
  grid-area: content;
  background-color: #6b6e70;
  height: 100%;
}
