.myPost {

}

.myPost textarea {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: flex-end;

}

.buttons button {
    border-radius: 30px;
    color: #fff;
    background-color: #8ac832;
    padding: 10px 30px;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
    border-color: transparent;
    transition: color 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.buttons button:hover {
    color: #8ac832;
    background-color: #fff;
}

.delete {
    background-color: #fff;
}

.submit {
    background-color: #fff;
}
